ENV_NAME=prod
EDGE_NETWORK=encit_prod_edge
EDGE_ALIAS=revista-prod-web
PUBLIC_BASE_URL=https://revista.encit.unam.mx

REGISTRY=git.infra.encit.unam.mx
IMAGE_TAG=3.5.0-5-REPLACE_WITH_TESTED_TAG

MARIADB_DATABASE=ojs
MARIADB_USER=ojs
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
MARIADB_DATA_DIR=/srv/encit/data/revista/prod/mariadb

OJS_CONFIG_DIR=/srv/encit/data/revista/prod/config
OJS_FILES_DIR=/srv/encit/data/revista/prod/files
OJS_PUBLIC_DIR=/srv/encit/data/revista/prod/public
OJS_CACHE_DIR=/srv/encit/data/revista/prod/cache
OJS_SANDBOX=Off
OJS_APP_KEY=CHANGE_ME_BASE64_OR_RANDOM
SMTP_HOST=SMTP_INSTITUCIONAL
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
