ENV_NAME=test
EDGE_NETWORK=encit_control_edge
EDGE_ALIAS=revista-test-web
PUBLIC_BASE_URL=https://revista.test.encit.unam.mx

REGISTRY=git.infra.encit.unam.mx
IMAGE_TAG=3.5.0-5-REPLACE_WITH_TESTED_TAG

MARIADB_DATABASE=ojs
MARIADB_USER=ojs
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
MARIADB_DATA_DIR=/srv/encit/data/revista/test/mariadb

OJS_CONFIG_DIR=/srv/encit/data/revista/test/config
OJS_FILES_DIR=/srv/encit/data/revista/test/files
OJS_PUBLIC_DIR=/srv/encit/data/revista/test/public
OJS_CACHE_DIR=/srv/encit/data/revista/test/cache
OJS_SANDBOX=On
OJS_APP_KEY=CHANGE_ME_BASE64_OR_RANDOM
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
