ENV_NAME=prod
EDGE_NETWORK=encit_prod_edge
EDGE_ALIAS=moodle-prod-web
PUBLIC_BASE_URL=https://ec.encit.unam.mx

REGISTRY=git.infra.encit.unam.mx
IMAGE_TAG=5.2.2-REPLACE_WITH_TESTED_TAG

MARIADB_DATABASE=moodle
MARIADB_USER=moodle
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME
MARIADB_DATA_DIR=/srv/encit/data/moodle/prod/mariadb

MOODLE_CONFIG_DIR=/srv/encit/data/moodle/prod/config
MOODLEDATA_DIR=/srv/encit/data/moodle/prod/moodledata
