TZ=America/Mexico_City
GITEA_DB_PASSWORD=CHANGE_ME
GITEA_SECRET_KEY=CHANGE_ME_LONG_RANDOM
GITEA_INTERNAL_TOKEN=CHANGE_ME_LONG_RANDOM
GITEA_LFS_JWT_SECRET=CHANGE_ME_LONG_RANDOM
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=CHANGE_ME
